@font-face {
    font-family: "Conlan";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src:url("../fonts/conlan-black-solid.woff2") format("woff2"),
        url("../fonts/conlan-black-solid.woff") format("woff");
}

@font-face {
  font-family: "ALS Wagon";
  font-weight: regular;
  font-style: normal;
  font-display: swap;
  src:url("../fonts/ALS Wagon Regular.woff2") format("woff2"),
      url("../fonts/ALS Wagon Regular.woff") format("woff");
}

@font-face {
  font-family: "Matita Geometric";
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
  src:url("../fonts/matita-geometric.woff") format("woff"),
      url("../fonts/matita-geometric.woff2") format("woff2");
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  margin-bottom: 0;
  height: inherit;
}

header {
  height: 30px;
}

header h1,
.logo {

  color: #9BF37C;

  font-family: "Conlan", Arial, sans-serif;
  font-weight: 800;
  font-size: 35px;

}

header h1,
.logo
  {
  display: inline-block;
}

header::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.login-button {
  display: inline-block;
  border-radius: 7px;
  padding: 0 15px;
  text-align: center;
  cursor: pointer;
}

.login-button {
  background: linear-gradient(to left, #BAF87C, #F2FC84, #BAF87C);
  background-size: 200%;
  transition: 0.6s;
}

.login-button:hover {
  background-position: right;
}

.button-text {
color: #444444;
font-size: 15px;
font-family: "Matita Geometric", sans-serif;
font-style: normal;
font-weight: bolder;
margin: 0;
padding: 7px 2px;
text-align: center;
vertical-align: middle;
}

.introductory-wrap {
  margin: 0;
  padding: 0;
  height: 310px;
}

.video, .introductory-text
{
  display: inline-block;
}

.introductory-wrap::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.introductory-text {
  color: #454545;
  font-size: 40px;
  font-family:"ALS Wagon", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 123.3%;
  width: 539px;
  height: 114px;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: 35px;
  margin-top: 100px;
}

.video {
  width: 550px;
  height: 300px;
  flex-shrink: 0;
  border: 5px solid #9BF37C;
  background: black;
  text-align: center;
  margin-left: 150px;
}

.video-text {
  color: white;
  font-family:"ALS Wagon", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 136px;
}

.modal-wrapper {
  position:fixed;
  display:flex;
  height: 100%;
  width: 100%;
  top:50%;
  left: 50%;
  justify-content:center;
  align-items:center;
  background:rgba(0,0,0,.5);
  z-index:2;
  transform: scale(0);
}

.modal-wrapper.active-popup {
  transform: scale(1);
  transform: translate(-50%, -50%);
  transition: transform .18s ease;
}

.wrapper {
  position: fixed;
  width: 400px;
  height: 440px;
  background: white;
  border: none;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .4s ease, height .2s ease;
  overflow: hidden;
  top:50%;
  left: 50%;
  transform: scale(0);
  z-index: 3;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 2em;
  color: #454545;
  display: flex;
  justify-content: center;
  align-items: center;  
  cursor: pointer;
  z-index: 3;
  transition: 0.2s;
}

.wrapper.active {
  height: 500px;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
  width: 320px;
}

.wrapper.active .form-box.register {
  position: absolute;
  transform: translateX(0);
}

.wrapper.active-popup {
  transform: scale(1);
  transform: translate(-50%, -50%);
}

.form-box h2 {
  font-size: 2em;
  font-family: ALS Wagon;
  font-weight: 400;
  font-style: normal;
  color: #454545;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  left: 22px;
  bottom: 100%;
  transform: translate(-50%);
  font-size: 0.9em;
  color: #454545;
  font-family: ALS Wagon;
  font-weight: 400;
  font-style: normal;
  pointer-events: none;
}

.password-label {
  margin-left: 11px;
}

.input-box input {
  width: 100%;
  height: 75%;
  background: transparent;
  border: none;
  outline: 2px solid #9BF37C;
  border-radius: 10px;
  font-size: 0.9em;
  font-family: ALS Wagon;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1em;
  color: #454545;
  line-height: 45px;
}

.forgot {
  font-size: 1em;
  font-weight: 500;
  color: #454545;
  margin: -20px 0 15px;
  display: flex;
  justify-content: space-between;
}

.forgot a {
  text-decoration: none;
  font-family: ALS Wagon;
  font-weight: 400;
  font-style: normal;
  color: #454545;
  transition: 0.3s;
}

.forgot a:hover {
  color: #98DA56;
}

.forgot label input {
  accent-color: #162938;
  margin-right: 185px;
}

.btn-login-form {
  width: 100%;
  height: 45px;
  background: #9BF37C;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #454545;
  font-family: "Matita Geometric", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 21px;
  cursor:pointer;
  transition: 0.3s;
}

.btn-login-form:hover {
  background: #D4FFA8;
}

.login-register {
  font-size: .9em;
  color: #454545;
  text-align: center;
  font-family: ALS Wagon;
  font-weight: 400;
  font-style: normal;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #454545;
  text-decoration: underline;
  font-family: ALS Wagon;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-left: 2px;
  transition: 0.3s;
}

.login-register p a:hover {
  color:#98DA56;
}

.username {
  margin-left: 14px;
}

.overlay {
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
}