<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/act.css">
    <title>cmAct</title>
</head>
<body>
    <header>
        <div class="header-wrap">
        <div class="logo">
            <h1 class="logo-text">cmAct</h1>
        </div>
    </div>
    </header>

    <div class="projects-wrap">

    <div class="project-name">
        <p>Project Name</p>
    </div>

    <div class="projects-div">
        <div class="projects">
            <h1>Projects</h1>
        </div>

        <div class = "plus"></div>
        <hr>

        <div class="projects-list">
            <p>There will be projects here</p>
                </div>
        </div>
    </div>
    
</body>
</html>