<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/home.css">
    <title>cmAct</title>
  </head>
  <body>
      <header>
      <div class="header-wrap">
        <div class="logo">
          <h1>cmAct</h1>
        </div>
        <div class="btns-wrap">
            <div class="acts-link">
                <h2 class="button-text">Acts</h2>
            </div>
        <div class="profile-link">
          <h2 class="button-text">{{.username}}</h2>
        </div>
    </div>
      </div>
  </header>

<div class="introductory-wrap">
    <div class="introductory-text">
    <p>Earn airdrops and other rewards in crypto projects with us</p>
  </div>
  <div class="video">
    <p class="video-text">There will be a video here</p>
  </div>
</div>

<script src="/scripts/home.js"></script>
  </body>
</html>
