<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/index.css">
    <title>cmAct</title>
  </head>
  <body>
      <header>
      <div class="header-wrap">
        <div class="logo">
          <h1>cmAct</h1>
        </div>
        <div class="login-button">
          <h2 class="button-text">Login</h2>
        </div>
      </div>
  </header>

<div class="introductory-wrap">
    <div class="introductory-text">
    <p>Earn airdrops and other rewards in crypto projects with us</p>
  </div>
  <div class="video">
    <p class="video-text">There will be a video here</p>
  </div>
</div>
  </body>
</html>
